* {
    background: #363839;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    }

h5 {
    margin-top: 120px;
    color: #F46752;
}

h1 {
    color: white;
    margin-top: 26px;
    font-size: 44px;
    margin-bottom: 3px;
}

.title {
    margin: 0 auto;
    text-align: center;
    color: #ACB4BF;
    font-size: 19px;
    height: 60px;
    width: 650px;
    line-height: 25px;
}

;

.get {
    float: left;

}

.anchor-one {
    font-size: 22px;
    height: 22px;
}

.content-one {
    height: 78px;
    width: 234px;
    color: #ACB4BF;
    font-size: 19px;
    line-height: 26px;
    padding-bottom: 100px;
}

.apply {
    float: left;
    margin-left: 220px;
}

.anchor-two {
    font-size: 22px;
    height: 22px;
}

.content-two {
    height: 54px;
    width: 234px;
    color: #ACB4BF;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 100px;
}

.cover.col {
    float: left;
    margin-left: 220px;
}

.anchor-three {
    font-size: 22px;
    height: 22px;
}

.content-three {
    height: 52px;
    width: 256px;
    color: #ACB4BF;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 100px;
}

span {
    background-color: #F46752;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;

}

.button {
    background: #F46752;
}

.contain {
    position: relative;
}

.container {
    margin-left: 600px;
    max-width: max-content;
    margin-top: 73px;
    float: left;
}

.container:after {
    content: " ";
    display: block;
    clear: both;
}
.col {
    margin: 0 66px;
}

.apply .contain  {
    min-height: 60px;
    background-image: url('./vibes/Rectangle.png'), url('./vibes/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, 88px 15px;
}
 .container .get.col {
    min-height: 60px;
    background-image: url('./vibes/Rectangle.svg'), url('./vibes/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, 55px 22px;
}
.contained .cover.col {
    min-height: 60px;
    background-image: url('./vibes/3.svg'), url('./vibes/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, 88px 22px;
}
