body {
    background: #363839;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
  
}

.article {
    line-height: 52px;
    font-size: 44px;
    font-weight: 500;
    color:white;
}

h5 {
    margin-top: 120px;
    color: #F46752;
}



.title {
    margin: 0 auto;
    text-align: center;
    color: #ACB4BF;
    font-size: 19px;
    height: 60px;
    width: 650px;
    line-height: 25px;
    margin-bottom: 50px;
}




.anchor-one {
    font-size: 22px;
    height: 22px;
    color: white;
}

.content-one {
    height: 78px;
    width: 234px;
    color: #ACB4BF;
    font-size: 19px;
    line-height: 26px;
    padding-bottom: 100px;
}



.anchor-two {
    font-size: 22px;
    height: 22px;
    color: white;
}

.content-two {
    height: 54px;
    width: 234px;
    color: #ACB4BF;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 100px;
}


.anchor-three {
    font-size: 22px;
    height: 22px;
    color: white;
}

.content-three {
    height: 52px;
    width: 256px;
    color: #ACB4BF;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 100px;
}

span {
    background-color: #F46752;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;

}

.button {
    background: #F46752;
}
.confetti {
    float: left;
}

.first-column,
.second-column,
.third-column {
    float:left;
    margin:0 66px;
   
}

.container {
    max-width: max-content;
    margin-top: 73px;
    margin: 0 auto;
   
}

.container:after {
    content: " ";
    display: block;
    clear: both;
    
}

.get.col {
    min-height: 60px;
    background-image: url('./vibes/Rectangle.svg'), url('./vibes/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, 117px 22px;
}
.apply.col {
    min-height: 60px;
    background-image: url('./vibes/Rectangle.png'), url('./vibes/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, 88px 15px;

}
 
 .cover.col {
    min-height: 60px;
    background-image: url('./vibes/3.svg'), url('./vibes/circle.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, 108px 11px;
    
}
.container {
    background-image: url('./vibes/Path17.svg');
    background-repeat:no-repeat, no-repeat;
    background-position:right 200px bottom 260px;
}
body {
    background-image: url('./vibes/confetti.svg');
    background-repeat: no-repeat, no-repeat;
    background-position:right 560px bottom 220px;
}

